/* PC */
/* file responsive.css phải đặt sau style.css */
@media (min-width: 1024px){

}

/* Tablet */
@media (min-width: 740px) and (max-width:1023px){
}

/* Mobile */
@media (max-width: 740px){
    #nav >li{
        display: block;
    }

    #nav{
        display: block;
        /* để các thẻ trong more bấm thanh vẫn được */
    }
    #nav li a{
        padding: 1px 24px;
    }

    #nav > li:first-child{
        display: inline-block;
    }

    #nav .subnav{
        position: initial;
        background-color: #333;
    }

    #nav .subnav a{
        color: #fff;
        padding: 5px 41px;
        /* tối thiểu 42-46px để dễ tương tác */
    }

    #header {
        overflow: hidden;
    }

    #header .mobile-menu-btn{
        display: block;
    }

    #header .search-btn{
        display: none;
    }
}